.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,.5);
}

/* Buttons */
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

button.update-btn {
    background-color: #007bff;
}

button.update-btn:hover {
    background-color: #0069d9;
}

button.change-btn {
    background-color: #ffc107;
    color: #212529;
}

button.change-btn:hover {
    background-color: #e0a800;
}

.flex-column {
    display: flex;
    flex-direction: column; /* stack cards vertically */
    gap: 20px;              /* space between cards */
}

.flex-column .card {
    width: 85%;        /* card width */
    margin-left: auto; /* push the card to the right edge */
}
